.standingsContainer {
	:global(.ant-table) table {
		:global(.ant-table-thead) {
			& > tr {
				& > th {
					text-align: center;
				}
			}
		}
		:global(.ant-table-row) {
			text-align: center;
			td:global(.ant-table-cell) {
				padding: 2px 8px 2px 8px;
			}
			/* td:nth-child(11):global(.ant-table-cell) {
				text-align: right;
				padding: 2px 15px 2px 8px;
			} */
		}
	}

	.logo {
		width: 24px;
		height: 24px;
	}
	h4 {
		text-align: center;
		font-weight: bold;
		margin-bottom: 10px;
	}
}
