.container{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.main-icon{
  font-size: 6em;
}

.app-container{
  margin-top: 35px;
}

.footer{
  width: 100%;
  text-align: center;
  background-color: #C6DCE4;
  padding: 10px 0;
}

@media only screen and (max-width: 768px) {
  .app-container{
    margin-top: 0;
  }
}
