.title {
	font-size: 2rem;
	font-weight: 900;
	box-shadow: 0 2px 8px #111010;
	width: fit-content;
	margin: auto;
	padding: 0px 12px;
	border-radius: 4px;
	@media only screen and (max-width: 768px) {
		font-size: 1.5rem;
	}
}
