@use "../../assets/sass/variables" as *;
.title {
	font-size: $title-size;
	font-weight: 900;
	color: $title-color;
	margin: 175px auto 75px auto;
	@media only screen and (max-width: 768px) {
		font-size: 2rem;
		margin: 100px auto 25px auto;
	}
}
