.mobileDrawer {
	:global(.ant-drawer-body) {
		@media only screen and (max-width: 768px) {
			padding-top: 5px;
			right: 0;
		}
		.btnAuth,
		.btnServices {
			width: 100%;
			a {
				@media only screen and (max-width: 768px) {
					font-weight: bold;
				}
			}
		}
		.btnAuth {
			border-style: outset;
		}
		.svgClose {
			font-size: 42px;
			margin-bottom: 20px;
			right: 0;
		}
	}
}

.mainContainer {
	display: flex;
	justify-content: space-between;
	width: 100%;
	position: fixed;
	background-color: #1a1a2e;
	.h1 {
		font-size: 2rem;
		font-weight: 900;
		margin-left: 30px;
		margin-top: 5px;
		margin-bottom: 5px;
		color: #bbbcc3;
		align-self: center;
		@media only screen and (max-width: 768px) {
			margin-top: 0px;
			margin-bottom: 0px;
		}
	}
	.mobile {
		display: none;
		height: 100%;
		@media only screen and (max-width: 768px) {
			display: block;
			position: absolute;
			right: 0;
		}
		.btnHamburgerClick {
			height: 100%;
			span:first-child {
				font-size: 1.3rem;
			}
		}
	}
	.mobileHidden {
		color: #f9f3ee;
		display: flex;
		justify-content: flex-end;
		@media only screen and (max-width: 768px) {
			display: none;
		}
		.btnAuth,
		.btnServices {
			color: #f9f3ee;
			font-weight: bold;
			height: 100%;
		}
		.btnAuth {
			border-radius: 0px;
			border-style: outset;
		}
		.btnServices {
			&:hover {
				background-color: #816797;
				color: #f9f3ee;
			}
			&:focus {
				/* no me toma al hacer focus */
				background-color: #816797;
				border-radius: 10px;
				padding: 5px 10px 2px 10px;
				color: #f9f3ee;
			}
		}
	}
}
