@use "../../assets/sass/variables" as *;

.subNavbar {
	margin: 40px auto;
	font-weight: bold;
	@media only screen and (max-width: 768px) {
		margin: 50px auto;
	}
	:global(.ant-segmented) {
		background-color: linear-gradient(180deg, #fff, hsla(0, 0%, 100%, 0.75));
		@media only screen and (min-width: 768px) {
			font-size: 20px;
		}
	}
	:global(.ant-segmented:not(.ant-segmented-disabled):hover) {
		background-color: linear-gradient(180deg, #fff, hsla(0, 0%, 100%, 0.75));
	}
	:global(:where(.css-dev-only-do-not-override-k5qubv).ant-segmented .ant-segmented-item-selected) {
		background-color: #333;
		color: #fff;
	}

	:global(.ant-segmented-item-label) {
		border: solid 1px rgba(0, 0, 0, 0.14);
		border-radius: 2px;
	}
	* {
		margin-bottom: 0;
	}
}
