@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");

$font-stack: "Inter", sans-serif;
$bg-color: #1a1b1e;
$bg-container-color: hsla(0, 0%, 100%, 0.05);
$font-color: #fff;
$border-main: 2px #333 solid;
